@model _15_FutbolistaNuevo_UI.Models.clsViewModel
@{
    ViewBag.Title = "Index";
}

<p>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h4>Equipo</h4>
        @Html.DropDownListFor(m => m.IDEquipo, new SelectList(Model.Equipos, "ID", "Nombre"))
        <input name="boton" type="submit" value="Elegir" class="btn btn-default" />
    </div>
}
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JugadorSeleecionado.Nombre)
            @Html.DisplayNameFor(model => model.JugadorSeleecionado.Apellidos)
            @Html.DisplayNameFor(model => model.JugadorSeleecionado.Alias)
            @Html.DisplayNameFor(model => model.JugadorSeleecionado.Posicion)
            @Html.DisplayNameFor(model => model.JugadorSeleecionado.Dorsal)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Jugadores)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
                @Html.DisplayFor(modelItem => item.Apellidos)
                @Html.DisplayFor(modelItem => item.Alias)
                @Html.DisplayFor(modelItem => item.Posicion)
                @Html.DisplayFor(modelItem => item.Dorsal)
                @Html.HiddenFor(modelItem => item.IDEquipo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.ID }) |
                @Html.ActionLink("Liberar", "Liberar", new { id = item.ID }) |
                @Html.ActionLink("Transferir", "Transferir", new { id = item.ID })
            </td>
        </tr>
    }
    

</table>
